html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 1px;
	font-family: arial, helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	
	color: #323132;
	background-color: #F3F3F4;
}

div{
	/*border:1px solid red;*/
}

/*======================================*/
/*				TYPOGRAPHY				*/
/*======================================*/
html, body{
}
strong{
}
a, p, h1, h2, h3, h4, ul{
	font-size: 14px;
}

h1, h2, h3, h4{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
	margin-top: 0;
}
h1{
	font-size: 42px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 20px;
}

a{
	color: inherit;
}
a:hover, a:active, a:focus, a:visited{
	outline: none;
	text-decoration: none;
	color: inherit;
}
a:hover, a.active{
	color: inherit;
}


/*======================================*/
/*					GENERAL				*/
/*======================================*/
.no-padding{
	padding: 0 !important;
}

.full-height{
	height: 100%;
}

.spacer5, .spacer10, .spacer15, .spacer20, .spacer25, , .spacer50{
	width: 100%;
	display: block;
}
.spacer5{
	height: 5px;
}
.spacer10{
	height: 10px;
	width: 100%;
}
.spacer15{
	height: 15px;
}
.spacer20{
	height: 20px;
}
.spacer25{
	height: 25px;
}
.spacer50{
	height: 50px;
}

.pos-rel{
	position: relative;
}

.third-img-responsive{
	display: inline-block;
    max-width: 33%;
    height: auto;
}

.table{
	display: table !important;
	margin-bottom: 0 !important;
}
.table-row{
	display: table-row !important;
}

.table-cell{
	display: table-cell;
}

.table-inner{
	display: table-cell;
	width: 100%;
	height: 100%;
}

.img-responsive.centered{
	margin: auto;
}




/*======================================*/
/*					NAV					*/
/*======================================*/
#nav{
	position: relative;
	z-index: 1000;
	text-align: right;
	padding-top: 25px !important;
}
#nav, #nav ul, #nav li{
	padding: 0;
	margin-right: 0;
	list-style: none;
}

#nav li a{
	display: block;
	padding: 5px 10px;
	/*border: 1px solid #000;*/
	/*background-color: #fff;*/
	/*color: #000;*/
	font-size: 11px;
	text-transform: uppercase;
	white-space: nowrap;
}
#nav li a:hover, #nav li a.active{
	/*font-weight: bold;*/
	text-shadow: 1px 0 0 rgba(50, 49, 40, 0.25);
}

#nav > li{
	display: inline-block;
	position: relative;
}

#nav > li > a{
	border-right: 1px solid #000;
	padding: 0 5px;
}

#nav > li:nth-last-child(2) > a{
	border-right: none;
}
#nav > li:last-child{
	border-right: none;
	padding: 0 5px 0 20px;
}

#nav ul {
	position: absolute;
	text-align: left;
	right: 0;
	display: none;
	background-color: #F3F3F4;
}

#nav li ul{
	border: 1px solid #323132;
	border-top: none;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-bottom: 20px;
}

.submenu-toggle{
	background-image: url(../elements/nav_arrow.png);
	background-size: 20px 14px;
	background-repeat: no-repeat;
	background-position: center;

	width: 40px;
	height: 40px;

	position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: all 300ms;
    background-color: transparent !important;

    display: none;
}

#nav li a.submenu-toggle{
	display: none;
}

.submenu-toggle.open{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}



/*======================================*/
/*				HEADER					*/
/*======================================*/
#logo-ecotech{
	background-color: #fff;
	border: 1px solid #a5a4a5;
	border-left: none;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 5px 30px 5px 10px;
	display: inline-block;
	position: absolute;
	z-index: 1001;
	top: 15px;
	left: 0;
}
#header{
	position:fixed; 
	top:0; 
	left:0; 
	width:100%;
	z-index: 1100;
}


/*======================================*/
/*			PAGE 						*/
/*======================================*/
#pageWrap{
	min-height: 100%;
	margin-bottom: -50px; 
	padding-bottom: 50px; 
	margin-top: 60px;

	padding-top: 80px;
	margin-top: 0;
}
#pageWrap:after {
  content: "";
  display: block;
}

#overlay, #menu-overlay{
	background-color: rgba(243,243,244,0.95);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
}

#menu-overlay{
	background-color: #424042;
	z-index: 1005;
	padding-top: 100px;
    color: #fff;
}

.page-icon{
	position: absolute;
    top: 20px;
    left: -100px;
}

.call-to-action {
    font-size: 30px;
    font-weight: bold;
    padding: 5px 10px !important;
}

#main-wrapper{
	padding-right: 30px;
}

/*======================================*/
/*			SERVICES NAV				*/
/*======================================*/
#services-submenu-wrap{
	/*position: absolute;*/
	position: fixed;
	z-index: 1001;
	width: 170px;
	top: 100px;
}
#services-submenu, #services-submenu li{
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	padding-right: 10px;
}

#services-submenu{
	position: absolute;
	left: 0;
	background-color: #fff;
	border: 2px solid #fbbf0f;
	border-left: none;
	text-align: right;
	text-transform: uppercase;
	font-size: 12px;
	left: -315px;

	transition: all 1s;
	width: 315px;

	padding-right: 10px;
}

#services-submenu h2{
	font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
}

#services-submenu .closeToggle{
	position: absolute;
    left: 100%;
    background-color: #fff;
    border: 2px solid #fbbf0f;
    top: -2px;
    border-left: none;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    padding: 10px;
    padding-left: 20px;
    margin-left: 10px;
}

#services-submenu.active{
	left: 0;
}

#services-submenu li.active{
	font-weight: bold;
}

#services-submenu a{
	display: inline-block; 
	padding: 3px 10px;
}

#services-submenu a:hover{
	font-weight: bold;
}

.service-info{
	position: absolute;
	top: -13px;
	left: 115%;
	width: 100%;
	min-width: 600px;
	text-align: left;
	display: none;
	text-transform: none;
	padding-left: 80px;
}

.service-info > img{
	position: absolute;
    left: -40px;
    top: -15px;
}

.service-info h4{
	word-spacing: 2px;
    line-height: 20px;
}

#services-submenu .service-info a.readmore{
	padding: 0;
	text-transform: uppercase;
}

#services-submenu li:nth-child(3){
	margin-top: 50px;
}
#services-submenu li:last-child{
	margin-bottom: 10px;
}

.services-link > a{
	vertical-align: middle;
	transition: all .3s;
}
.services-link > a img{
	vertical-align: middle;
	width: 40px;
	margin-left: 10px;
}
.services-link > a:hover{
	margin-right: 20px;
}

.services-link.active > a img{
	display: none;
}
.services-link.active > a{
	margin-right: 50px;
}


/*======================================*/
/*				SUBMENUNAV				*/
/*======================================*/
#category-submenu{
	padding-top: 150px;
}
#category-submenu ul{
	display: inline-block;
	padding: 0;
	margin: 0;
	float: right;
}
#category-submenu ul, #category-submenu li{
	list-style: none;
	text-align: right;
	font-size: 11px;
	text-transform: none;
}
#category-submenu ul{
	/*min-width: 200px;*/
	max-width: 100%;
}

#category-submenu > ul > li{
	padding-bottom: 40px;
	text-transform: uppercase;
}

#category-submenu li a{
	font-size: 11px;
}

#category-submenu li a:hover, #category-submenu li a.active{
	font-weight: bold;
}



.flyout-container{
	/*position: absolute;*/
	position: fixed;
	top: 100px;
	right: 0;
	z-index: 1001;
	text-align: right;
	overflow: hidden;
	padding-left: 92px;
	width: 0;
}
/*.flyout-container.active{
	width: auto;
	max-width: 600px;
}*/

.flyout-info{
	position: relative;
	background-color: #fff;
    border: 2px solid #fbbf0f;
    border-right: none;
    min-height: 64px;
    margin-bottom: 40px;
    padding-right: 20px;
    display: inline-block;
	text-align: left;

	left: 0%;
}

/*.flyout-info.active{
	right: 0;
	z-index: 1002;
}*/

/*.flyout-info:nth-child(2){ top: 100px; min-width: 500px; }*/
/*.flyout-info:nth-child(3){ top: 200px; min-width: 350px;}*/

.flyout-container:nth-child(3){ top: 100px; }
.flyout-container:nth-child(4){ top: 200px; }
.flyout-container:nth-child(5){ top: 300px; }

.flyout-info .flyout-icon{
	position: absolute;
    right: 100%;
    background-color: #fff;
    border: 2px solid #fbbf0f;
    top: -2px;
    border-right: none;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 10px;
    padding-right: 20px;
    cursor: pointer;
}

.flyout-info h2{
	font-size: 24px;
    margin: 17px 0;
    text-transform: uppercase;
}

.flyout-info h3{
	font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.col-block{
	display: inline-block;
	padding: 10px;
	padding-top: 0;
	vertical-align: top;
}
/*.col-block img{
	vertical-align: top;
}*/


/*======================================*/
/*				FOOTER 					*/
/*======================================*/
#footer{
	position: relative;
	z-index: 1001;
	padding: 10px 30px 0;
	background-color: #fbbf0f;
    height: 50px;
    text-align: right;
}
#footer a{
	font-size: 8px;
	display: inline-block;
	vertical-align: middle;
} 

#footer a:last-child{
	margin-left: 30px;
}






 .page-image{
 	/*max-width: 300px;
 	height: auto;*/
 }

 .call-to-action a {
    display: block;
    padding: 10px 5px;
    margin: 0;
}
.call-to-action strong {
    line-height: 0;
    height: auto;
    display: block;
    padding: inherit;
    margin: inherit;
}

.curved-text{
	position: absolute;
    left: -20px;
    top: 28px;
}

.curved-text.left{
    left: initial;
    left: auto;
    right: -20px;
}

.burger-toggle{
	background-image: url(../elements/icon-burger.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 38px;
	height: 38px;
	position: fixed;
	top: 23px;
    right: 20px;
	z-index: 1006;
	display: none;
}
.burger-toggle.active{
	background-position: bottom center;
}


.mobile-number{
	background-color: #fff;
    border: 1px solid #fbbf0f;
    margin-left: -15px;
    border-left: none;
    margin-bottom: 20px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    display: inline-block;
    padding: 10px 40px 10px 20px;
}


.diplay-inline, .diplay-inline h2, .diplay-inline img{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.footer-slider img{
	margin: auto;
	display: block;
	max-width: 100%;
}

.footer-slider{
	text-align: center;
	width: 80% !important;
    margin: auto;
}

hr{
	border-color: #424042;
	max-width: 70%;
}

.owl-prev, .owl-next {
    position: absolute;
    left: -30px;
    top: 5px;
}

.owl-next {
    right: -30px;
    left: inherit;
}