@media only screen and (max-width: 767px) { /* XS */
	.burger-toggle{
		display: block;
	}
	#services-submenu-wrap, .flyout-container, #category-submenu, #nav{
		display: none;
	}

	#pageWrap{
		/*margin-top: 80px;
		margin-bottom: -130px;*/
		padding-top: 80px;
		margin-top: 0;
	}

	#category-submenu{
		padding: 0;
	}

	#category-submenu ul, #category-submenu li{
		text-align: center;
	}

	#category-submenu > ul > li{
		padding-bottom: 0;
		display: inline-block;
		border-right: 1px solid #323132;
		padding: 0 5px;
	}
	#category-submenu > ul > li:last-child{
		border: none;
	}

	.page-icon{
		position: relative;
	    top: initial;
	    left: initial;
	    display: inline-block;
	}

	.main-headings{
		display: inline-block;
		clear: right;
		vertical-align: bottom;
	}
	.main-headings h1, .main-headings h2{
		margin: 0;
	}

	#menu-overlay{
		overflow: scroll;
	}

	#menu-overlay #nav{
		display: block;
		padding: 10px 0;
		padding-top: 0px !important;
	}

	#menu-overlay #nav li, #menu-overlay #nav ul{
		display: block;
		position: relative;
	    text-align: left;
	    right: inherit;
	    background-color: inherit;
	    padding: 0;
	    margin: 0;
	    border: none;
	}

	#menu-overlay #nav li a{
		padding: 10px 10px;
		border: none;
	}

	#menu-overlay #nav > li > a{
		font-size: 18px;
	}

	#menu-overlay #nav > li > ul > li > a{
		font-size: 16px;
		padding-left: 20px;
	}

	#menu-overlay #nav > li > ul > li > ul > li > a{
		font-size: 16px;
		padding-left: 40px;
	}

	#menu-overlay #nav > li > a{
		background-color: #424042;
	}

	#menu-overlay #nav > li > ul > li > a{
		background-color: #5e5c5e;
	}

	#menu-overlay #nav > li > ul > li > ul > li > a{
		background-color: #7a797a;
	}

	#menu-overlay #nav ul{
		display: none;
		border-bottom-left-radius: 0px;
    	border-bottom-right-radius: 0px;
	}

	#nav li a.submenu-toggle{
		display: block;
	}


	#main-wrapper{
		padding-right: 15px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) { /* SM */	
	.service-info h4 {
	    max-width: 220px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) { /* MD */
}

@media only screen and (min-width: 1200px) { /* LG */
}



@media only screen and (max-width: 991px) { /* XS - SM */	
	
}