/* login css */

html, body{
	background-color: #e7e8e9;
}

/*.header.row{
	background-color: #fff;
	padding-bottom:20px;
}*/

form.loginbox{
	background-color: #fff;
	/* padding:20px; */
	/* margin-top:40px; */
}

.login-box{
	background-color: #fff;
	margin-top:10%;
	padding-bottom: 20px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.login-box input{
	color: #fff;
	background-color: #005b98;
}

.form-control::-webkit-input-placeholder{ color: #fff; }
.form-control:-moz-placeholder{ color: #fff; }
.form-control::-moz-placeholder{ color: #fff; }
.form-control:-ms-input-placeholder{ color: #fff; }

.subimt-btn{
	background-color: #59595b;
	color: #fff;
	text-transform: uppercase;
}