/* main css */

/* BODY */
html, body{
	background-color: #e7e8e9;
}

.header.row{
	/*background-color: #fff;*/
	background-color: #000;
	/*padding-bottom:20px;*/
}

.header.row div.col-xs-4:first-child img{
	/*margin-left: -15px;*/
}



.clearboth{
	clear:both;
}


/* NAVIGATION */
.sidenav{
	padding-top: 10px;
	border-right: 2px solid #fff;
	min-height: 100%;
}

.nav-container{
	
}

.nav-item{
	float: left;
	padding: 5px 10px 5px 0px;
}

.nav-item:first-child{ padding: 5px 10px 5px 0; }

.subnav-item{
	margin-bottom: 5px;
}


/*MODAL*/
#system-modal .row.media-container{
	/*overflow : hidden;*/
	overflow: scroll;
}


/* GENERAL */
.subnav-item-content{
	padding-top:10px;
}

.thumb{
	margin-bottom: 10px;
}

[type="submit"]{	
margin-top: 10px;
}

.btn-bt-margin{
	margin-bottom: 10px;
}

.img-container{
	margin-bottom: 10px;
}

.img-container .row{
	position: relative;
}

.img-tools{
	padding:5px;
	width:100%;
	position: absolute;
	bottom:0;
	display: none;
}
.ap-tool-container{
	position:absolute; 
	top:0; 
	left:0;
}

.module-title h3{
	margin-top:0;
	padding-top:0;
}

.sidenav .btn{
	white-space: normal;
	width: 100%;
}


.open-folder.folder-name{
	text-overflow: ellipsis;
	display: inline-block;
	height: 20px;
	overflow: hidden;
}

/*Media Queries*/
@media all and (max-width: 1550px) {
	.open-folder.folder-name{
		width: 100px;
	}
}

@media all and (max-width: 1000px) {
	.open-folder.folder-name{
		width: 50px;
	}
}

