
.validation-error{
	border:1px solid #C00 !important;
	-moz-box-shadow:    inset 0 0 2px #C00 !important;
	-webkit-box-shadow: inset 0 0 2px #C00 !important;
	box-shadow:         inset 0 0 2px #C00 !important;
}
.validation-error-msg {
    display: none !important;
}
.success{
	margin:0;
	margin-bottom: 200px;
	color:#ffffff !important;
	font-size:16px;
	font-weight:normal;
	text-align: left;
}
#sent-enquiry {
	margin-left: 50px;
}

